<div class="container">
  <p id="notice"><%= notice %></p>

  <section class="py-5 ">
    <h1 class="display-4 text-center">Photo Gallery By Brent G</h1>
  </section>
  <!--
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Image</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @photos.each do |photo| %>
        <tr>
          <td><%= photo.title %></td>
          <td><%= photo.description %></td>
          <td><%= image_tag photo.image.variant(resize: "400x400") %></td>
          <td><%= link_to 'Show', photo %></td>
          <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
          <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table> -->
  <section>
    <div>
      <div class="row" id="image_container">
        <% @photos.each do |photo| %>

          <%= image_tag photo.image.variant(resize: "300x300"), :id => "photo_grid" %>

        <% end %>
      </div>
    </div>
  </section>

  <br>
  <section class="py-5">

      <%= link_to 'New Photo', new_photo_path, :class => "btn btn-outline-primary" %>

  </section>


</div>
