<!DOCTYPE html>
<html>
  <head>
    <title>PhotoGalleryR</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" <%= link_to "PGBG", '/#index' %></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
        <div class="collpse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" <%= link_to 'Home', '/#index' %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" <%= link_to 'About', '/about/about' %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" <%= link_to 'Contact', '/contact/contact' %></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>

      <div class="footer navbar-fixed-bottom footer-copyright text-center py-4 bg-secondary">© 2018 Copyright: Brent Gorwin</div>

</html>
